<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    </head>
  <body>
    <div class="wrapper">
      <header>
        </header>
      
      <section>
        {{ content }}
      </section>
      
      <footer>
        {% if site.github.is_project_page %}
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>

        <br>
        <script type="text/javascript" id="mapmyvisitors" src="https://mapmyvisitors.com/map.js?cl=ffffff&w=250&t=n&d=2a81SHYndMYas2FjbdQs3pYkxrVXAEi-QM9ZIutquk0"></script>
        </footer>
    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    
    </body>
</html>